In [6]:
import pandas as pd
import numpy as np

In [17]:
diccionario = {'Col1':[1,2,3,np.nan],
               'Col2':[4,np.nan,6,7],
               'Col3':['a','b','c',None]
              }

In [18]:
df = pd.DataFrame(diccionario)

In [19]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [20]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [21]:
df.isnull()*1 #Transformarlo a numeros

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [22]:
df.fillna('Missing') #Filtras las columnas missing

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [23]:
df.fillna(df.mean()) #Llenar con la media

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [25]:
df.interpolate() #Interpolar

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [26]:
df.dropna() #Borrarlas

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c